.view-container {
  @apply mx-auto w-[1200px] max-2xl:w-[1200px] max-xl:w-[840px] max-lg:w-[650px] max-md:w-[600px] max-sm:w-[400px];
}

.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
